In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test_data_evaluation_part2.csv')
df.head()

,Unnamed: 0,ID,Nationality,Age,DaysSinceCreation,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,BookingsNoShowed,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,82590,82591,SGP,47.0,11,0,0.00,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,82591,82592,SGP,16.0,11,130,483.48,155.1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,82592,82593,SGP,15.0,11,0,0.00,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,82593,82594,SGP,12.0,11,0,0.00,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,82594,82595,PRT,NaN,11,0,0.00,0.0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [5]:
df.columns

Index(['Unnamed: 0', 'ID', 'Nationality', 'Age', 'DaysSinceCreation',
       'AverageLeadTime', 'LodgingRevenue', 'OtherRevenue', 'BookingsCanceled',
       'BookingsNoShowed', 'BookingsCheckedIn', 'PersonsNights', 'RoomNights',
       'DaysSinceLastStay', 'DaysSinceFirstStay', 'DistributionChannel',
       'MarketSegment', 'SRHighFloor', 'SRLowFloor', 'SRAccessibleRoom',
       'SRMediumFloor', 'SRBathtub', 'SRShower', 'SRCrib', 'SRKingSizeBed',
       'SRTwinBed', 'SRNearElevator', 'SRAwayFromElevator',
       'SRNoAlcoholInMiniBar', 'SRQuietRoom'],
      dtype='object')

In [6]:
df1 = pd.read_csv('train_data_evaluation_part_2.csv')
df.head()

,Unnamed: 0,ID,Nationality,Age,DaysSinceCreation,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,BookingsNoShowed,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,82590,82591,SGP,47.0,11,0,0.00,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,82591,82592,SGP,16.0,11,130,483.48,155.1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,82592,82593,SGP,15.0,11,0,0.00,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,82593,82594,SGP,12.0,11,0,0.00,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,82594,82595,PRT,NaN,11,0,0.00,0.0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [7]:
df.nunique().to_frame(name = 'Number of unique values')

                      Number of unique values
Unnamed: 0                               1000
ID                                       1000
Nationality                                49
Age                                        85
DaysSinceCreation                          12
AverageLeadTime                           148
LodgingRevenue                            319
OtherRevenue                              232
BookingsCanceled                            1
BookingsNoShowed                            1
BookingsCheckedIn                           3
PersonsNights                              18
RoomNights                                 12
DaysSinceLastStay                          20
DaysSinceFirstStay                         19
DistributionChannel                         4
MarketSegment                               6
SRHighFloor                                 2
SRLowFloor                                  1
SRAccessibleRoom                            1
SRMediumFloor                               1
SRBathtub                                   2
SRShower                                    1
SRCrib                                      2
SRKingSizeBed                               2
SRTwinBed                                   2
SRNearElevator                              2
SRAwayFromElevator                          1
SRNoAlcoholInMiniBar                        1
SRQuietRoom                                 2

In [11]:
df['BookingsCheckedIn'].value_counts()

0    521
1    473
2      6
Name: BookingsCheckedIn, dtype: int64

In [9]:
df1.nunique().to_frame(name = 'Number of unique values')

                      Number of unique values
Unnamed: 0                              82580
ID                                      82580
Nationality                               188
Age                                       105
DaysSinceCreation                        1083
AverageLeadTime                           418
LodgingRevenue                          10139
OtherRevenue                             4469
BookingsCanceled                            6
BookingsNoShowed                            4
BookingsCheckedIn                          29
PersonsNights                              56
RoomNights                                 48
DaysSinceLastStay                        1100
DaysSinceFirstStay                       1096
DistributionChannel                         4
MarketSegment                               7
SRHighFloor                                 2
SRLowFloor                                  2
SRAccessibleRoom                            2
SRMediumFloor                               2
SRBathtub                                   2
SRShower                                    2
SRCrib                                      2
SRKingSizeBed                               2
SRTwinBed                                   2
SRNearElevator                              2
SRAwayFromElevator                          2
SRNoAlcoholInMiniBar                        2
SRQuietRoom                                 2